  server {
    listen $PORT default_server;
    listen [::]:$PORT;
    server_name localhost;
    root /frontend/build;
    index index.html;
    location / {
      try_files $uri /index.html;
    }
  }